<div class="container-fluid p-3">
  <h2 class="accent-color mat-title" *ngIf="config && config.id">{{'ip-discovery.edit.header' | translate}}</h2>
  <h2 class="accent-color mat-title" *ngIf="!config || !config.id">{{'ip-discovery.create.header' | translate}}</h2>
  <form [formGroup]="ipDiscoveryForm" (ngSubmit)="onSubmit()">
    <ng-container>
      <fieldset class="mb-2">
        <legend>{{'ip-discovery.cidrSelectionTitle' | translate}}</legend>
        <mat-form-field class="w-100">
          <input matInput [placeholder]="'ip-discovery.networkName' | translate" formControlName="name">
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-select [placeholder]="'ip-discovery.minion' | translate" formControlName="minion"
                      [compareWith]="compareFn">
            <mat-option disabled>{{'shared.selectDefault' | translate}}</mat-option>
            <mat-option *ngFor="let minion of minions | async" [value]="minion">{{minion.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-select [placeholder]="'ip-discovery.network' | translate" formControlName="network"
                      [compareWith]="compareNetworksFn">
            <mat-option disabled>{{'shared.selectDefault' | translate}}</mat-option>
            <mat-option *ngFor="let network of networks | async"
                        [value]="network">{{network.name}}</mat-option>
          </mat-select>
          <button type="button" mat-raised-button matSuffix color="accent" (click)="addNetwork()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="w-100">
          <textarea matInput [placeholder]="'ip-discovery.description' | translate"
                    formControlName="description"></textarea>
        </mat-form-field>
      </fieldset>
      <fieldset>
        <legend>{{'ip-discovery.runOptionSelectionTitle' | translate}}</legend>
        <mat-radio-group aria-label="Select discovery run option" formControlName="runStatus">
          <div>
            <mat-radio-button [value]="runStatus.RUNNING">
              {{'ip-discovery.runNow' | translate}}</mat-radio-button>
          </div>
          <div>
            <mat-radio-button [value]="runStatus.SCHEDULED">
              {{'ip-discovery.schedule' | translate}}
            </mat-radio-button>
          </div>
        </mat-radio-group>
        <div *ngIf="ipDiscoveryForm.get('runStatus').value === runStatus.SCHEDULED" class="mt-2 mb-2 p-2">
          <mat-card class="mat-elevation-z1 no-border-radius">
            <mat-form-field class="w-100">
              <mat-label>{{'ip-discovery.scheduleDate' | translate}}</mat-label>
              <input matInput [matDatepicker]="scheduleDate" [min]="today" placeholder="DD/MM/YYYY"
                     formControlName="scheduleDate"/>
              <mat-datepicker-toggle matPrefix [for]="scheduleDate"></mat-datepicker-toggle>
              <mat-datepicker touchUi #scheduleDate disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>{{'ip-discovery.scheduleTime' | translate}}</mat-label>
              <input matInput type="time" formControlName="scheduleTime"/>
            </mat-form-field>
          </mat-card>
        </div>
      </fieldset>
      <div class="col-12 d-flex justify-content-end mt-2">
        <div class="row">
          <div class="col">
            <button type="button" mat-raised-button mat-dialog-close>{{'shared.button.cancel' | translate}}</button>
          </div>
          <div class="col">
            <button type="submit" mat-raised-button color="accent">{{'shared.button.submit' | translate}}</button>
          </div>
        </div>
      </div>
    </ng-container>
  </form>
</div>
