<div class="d-flex flex-row-reverse m-0 p-0">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="container-fluid p-3">
  <h2 class="accent-color mat-title">{{'minion.view.header' | translate}}</h2>
  <p><b>{{'minion.view.name' | translate}}: </b>{{minion.name}}</p>
  <p><b>{{'minion.view.command' | translate}}: </b>{{minion.command}}</p>
  <p><b>{{'minion.view.cidr' | translate}}: </b>{{minion.url}}</p>
  <p><b>{{'minion.view.state' | translate}}: </b>{{minion.state}}</p>

  <div *ngIf="minion.metadata">
    <p><b>{{'minion.view.metadata' | translate}}</b></p>
    <ul>
      <li><b>{{'minion.view.metadata.created-time' | translate}}</b>: {{minion.metadata.createdTimestamp}}</li>
      <li><b>{{'minion.view.metadata.modified-time' | translate}}</b>: {{minion.metadata.modifiedTimestamp}}</li>
      <li><b>{{'minion.view.metadata.created-person' | translate}}</b>: {{minion.metadata.createdByPerson}}</li>
      <li><b>{{'minion.view.metadata.modified-person' | translate}}</b>: {{minion.metadata.modifiedByPerson}}</li>
    </ul>
  </div>
</div>
