<div class="container-fluid p-3">
  <h1 *ngIf="!user?.id" class="mat-h1">Create User</h1>
  <h1 *ngIf="user?.id" class="mat-h1">Update User</h1>
  <form [formGroup]="updateForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="Login" formControlName="login">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="First names" formControlName="firstName">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="Last name" formControlName="lastName">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-select placeholder="Roles" formControlName="authorities" multiple>
            <mat-option *ngFor="let authority of authorities | async" [value]="authority">{{authority}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-select placeholder="Languages" formControlName="langKey">
            <mat-option *ngFor="let language of languages" [value]="language">{{language}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-checkbox formControlName="activated">Activated</mat-checkbox>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-3 mb-3 offset-md-2">
        <button mat-raised-button mat-dialog-close class="w-100"
                type="button">{{'shared.button.cancel' | translate}}</button>
      </div>
      <div class="col-md-3 mb-3 offset-md-2">
        <button type="submit" mat-raised-button color="accent"
                class="w-100">{{'shared.button.submit' | translate}}</button>
      </div>
    </div>
  </form>
</div>
