<div class="container-fluid p-3">
  <h2 class="accent-color mat-title" *ngIf="notebook && notebook.id">{{'notebook.edit.header' | translate}}</h2>
  <h2 class="accent-color mat-title" *ngIf="!notebook || !notebook.id">{{'notebook.create.header' | translate}}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'notebook.id-class' | translate" formControlName="idClass">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'notebook.code' | translate" formControlName="code">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'notebook.description' | translate" formControlName="description">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'notebook.status' | translate" formControlName="status">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'notebook.user' | translate" formControlName="user">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'notebook.notes' | translate" formControlName="notes">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'notebook.current-id' | translate" formControlName="currentId">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'notebook.id-tenant' | translate" formControlName="idTenant">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'notebook.serial-number' | translate"
                 formControlName="serialNumber">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'notebook.supplier' | translate" formControlName="supplier">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>{{'notebook.purchase-date' | translate}}</mat-label>
          <input matInput [matDatepicker]="purchaseDate" placeholder="DD/MM/YYYY" formControlName="purchaseDate">
          <mat-datepicker-toggle matPrefix [for]="purchaseDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #purchaseDate disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>{{'notebook.acceptance-date' | translate}}</mat-label>
          <input matInput [matDatepicker]="acceptanceDate" placeholder="DD/MM/YYYY" formControlName="acceptanceDate">
          <mat-datepicker-toggle matPrefix [for]="acceptanceDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #acceptanceDate disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'notebook.final-cost' | translate" formControlName="finalCost">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'notebook.brand' | translate" formControlName="brand">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'notebook.model' | translate" formControlName="model">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'notebook.room' | translate" formControlName="room">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'notebook.assignee' | translate" formControlName="assignee">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'notebook.technical-reference' | translate"
                 formControlName="technicalReference">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'notebook.workplace' | translate" formControlName="workplace">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'notebook.acceptance-notes' | translate"
                 formControlName="acceptanceNotes">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'notebook.ram' | translate" formControlName="ram">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'notebook.cpu-number' | translate" formControlName="cpuNumber">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'notebook.cpu-speed' | translate" formControlName="cpuSpeed">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'notebook.hd-size' | translate" formControlName="hdSize">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'notebook.ip-address' | translate" formControlName="ipAddress">
        </mat-form-field>
      </div>
      <ng-container>
        <div class="col-12 d-flex justify-content-end mt-2">
          <div class="row">
            <div class="col">
              <button type="button" mat-raised-button mat-dialog-close>{{'shared.button.cancel' | translate}}</button>
            </div>
            <div class="col">
              <button type="submit" mat-raised-button color="accent">{{'shared.button.submit' | translate}}</button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

  </form>
</div>
