<h2 mat-dialog-title>Confrimation</h2>
<mat-dialog-content>{{data}}</mat-dialog-content>
<mat-dialog-actions class="pt-4 pb-4 d-flex justify-content-end">
  <button mat-raised-button (click)="cancel()">No</button>
  <button mat-raised-button (click)="confirm()" color="accent">Yes</button>
</mat-dialog-actions>