.mat-table {
  display: table;
  width: 100%;

  .mat-header-row {
    background-color: #cccccc;
  }

  .mat-row:nth-child(odd) {
    background-color: rgba(204, 204, 204, 0.19);
  }

  .mat-header-row, .mat-row {
    display: table-row;
    padding: 0;
    border: none;

    .mat-header-cell, .mat-cell {
      display: table-cell;
      vertical-align: middle;

      border-bottom: 1px solid rgba(0, 0, 0, 0.12);

      .table-mobile-header {
        display: none;
      }
    }
  }

  @media(max-width: 768px) {
    .mat-header-row {
      display: none;
    }

    .mat-row {
      display: block;
      padding: 20px 15px 0 15px;
      min-height: auto;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);

      .mat-cell {
        display: table-row;
        word-break: break-word;
        border: 0;
        height: 32px;

        .table-mobile-header {
          display: inline-block;
          width: 100px;
          font-weight: bolder;
        }
      }
    }
  }
}
