<h1 class="d-flex justify-content-between mb-2">
  <span class="accent-color mat-headline">{{'ip-discovery.header' | translate}}</span>
  <button mat-raised-button color="accent"
          (click)="editConfig(null)">{{'shared.button.add' | translate}}</button>
</h1>
<div class="mat-elevation-z8 w-100">
  <mat-table [dataSource]="dataSource" aria-label="Elements">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>
        {{"ip-discovery.list.name" | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="table-mobile-header">{{"ip-discovery.list.name" | translate}}</span>
        <span>{{element.name}}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="network">
      <mat-header-cell *matHeaderCellDef>
        {{"ip-discovery.list.network" | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="table-mobile-header">{{"ip-discovery.list.network" | translate}}</span>
        <span>{{element.network}}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="minion">
      <mat-header-cell *matHeaderCellDef>
        {{"ip-discovery.list.minion" | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="table-mobile-header">{{"ip-discovery.list.minion" | translate}}</span>
        <span>{{element.minion?.name}}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="schedule">
      <mat-header-cell *matHeaderCellDef>
        {{"ip-discovery.list.schedule" | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="table-mobile-header">{{"ip-discovery.list.schedule" | translate}}</span>
        <span>{{element.schedule}}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="runStatus">
      <mat-header-cell *matHeaderCellDef>
        {{"ip-discovery.list.status" | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="table-mobile-header">{{"ip-discovery.list.status" | translate}}</span>
        <span>{{element.runStatus}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ng-container>
          <a class="link-unstyled" mat-icon-button (click)="editConfig(element)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </a>
          <a class="link-unstyled" mat-icon-button (click)="removeConfig(element.id)">
            <mat-icon color="warn" aria-label="Delete">delete</mat-icon>
          </a>
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [length]="dataSource.length" [pageIndex]="0" [pageSize]="10"
                 [pageSizeOptions]="[10, 20, 50, 100]">
  </mat-paginator>
</div>
