<div class="container-fluid p-3">
  <h1 class="d-flex justify-content-between mb-2">
    <span class="accent-color mat-headline">{{'printer.header' | translate}}</span>
    <button mat-raised-button color="accent"
            (click)="editPrinter($event, null)">{{'shared.button.add' | translate}}</button>
  </h1>

<table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">
  <!-- Code Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>
      
        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
      
        <!-- Serialnumber Column -->
        <ng-container matColumnDef="serialNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Serial number</th>
          <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
        </ng-container>
      
        <!-- Supplier Column -->
        <ng-container matColumnDef="supplier">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Supplier</th>
          <td mat-cell *matCellDef="let element"> {{element.supplier}} </td>
        </ng-container>
      
        <!-- Brand Column -->
        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Brand</th>
          <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
        </ng-container>
      
        <!-- Model Column -->
        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Model</th>
          <td mat-cell *matCellDef="let element"> {{element.model}} </td>
        </ng-container>
      
        <!-- Assignee Column -->
        <ng-container matColumnDef="assignee">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Assignee</th>
          <td mat-cell *matCellDef="let element"> {{element.assignee}} </td>
        </ng-container>
      
        <!-- Technical reference Column -->
        <ng-container matColumnDef="technicalReference">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Technical reference</th>
          <td mat-cell *matCellDef="let element"> {{element.technicalReference}} </td>
        </ng-container>
         
  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <mat-tab-group dynamicHeight>
           <mat-tab label="General data">
             <mat-grid-list cols="2" rowHeight="50px">
               <mat-grid-tile>Code<br>{{element.code}}</mat-grid-tile>
               <mat-grid-tile>Description<br>{{element.description}}</mat-grid-tile>
               <mat-grid-tile>Serial Number<br>{{element.serialNumber}}</mat-grid-tile>
               <mat-grid-tile>Room<br>{{element.room}}</mat-grid-tile>
               <mat-grid-tile>Assignee<br>{{element.assignee}}</mat-grid-tile>
               <mat-grid-tile>Workplace<br>{{element.workplace}}</mat-grid-tile>
               <mat-grid-tile>OS<br>{{element.os}}</mat-grid-tile>
               <mat-grid-tile>OS_Version<br>{{element.osVersion}}</mat-grid-tile>
               <mat-grid-tile>Color<br>{{element.color}}</mat-grid-tile>
             </mat-grid-list>
           </mat-tab>
           <mat-tab label="Administrative data">
             <mat-grid-list cols="2" rowHeight="50px">
               <mat-grid-tile>supplier<br>{{element.supplier}}</mat-grid-tile>
               <mat-grid-tile>Purchase date<br>{{element.purchaseDate}}</mat-grid-tile>
               <mat-grid-tile>Acceptance date<br>{{element.acceptanceDate}}</mat-grid-tile>
               <mat-grid-tile>Final cost<br>{{element.finalCost}}</mat-grid-tile>
               <mat-grid-tile>Acceptance notes<br>{{element.acceptanceNotes}}</mat-grid-tile>
             </mat-grid-list>
           </mat-tab>
           <mat-tab label="Technical data">
             <mat-grid-list cols="2" rowHeight="50px">
               <mat-grid-tile>Brand<br>{{element.brand}}</mat-grid-tile>
               <mat-grid-tile>Model<br>{{element.model}}</mat-grid-tile>
               <mat-grid-tile>Technical Reference<br>{{element.technicalReference}}</mat-grid-tile>
               <mat-grid-tile>RAM<br>{{element.ram}}</mat-grid-tile>
               <mat-grid-tile>Number of CPU<br>{{element.cpuNumber}}</mat-grid-tile>
               <mat-grid-tile>Speed of CPU<br>{{element.cpuSpeed}}</mat-grid-tile>
               <mat-grid-tile>Harddisk total Size (GB)<br>{{element.hdSize}}</mat-grid-tile>
               <mat-grid-tile>IP Address<br>{{element.ipAddress}}</mat-grid-tile>
               <mat-grid-tile>Sound card</mat-grid-tile>
               <mat-grid-tile>Video Card</mat-grid-tile>
               <mat-grid-tile>En_maintenance</mat-grid-tile>
             </mat-grid-list>
            </mat-tab>
           <mat-tab label="SNMP">
             SNMP data goes here
           </mat-tab>
           <mat-tab label="Asset Inventories">
             Asset Inventories data goes here
           </mat-tab>
           <mat-tab label="Vulnerabilities">
             Vulnerabilities goes here
           </mat-tab>
           <mat-tab label="Network Zones">
             Network Zones goes here
           </mat-tab>
           <mat-tab label="Business Processes">
             Business Processes goes here
           </mat-tab>
         </mat-tab-group>
         </div>
       </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <ng-container>
        <a class="link-unstyled" mat-icon-button (click)="editPrinter($event, element)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </a>
        <a class="link-unstyled" mat-icon-button (click)="doNothing($event, null)">
          <mat-icon color="warn" aria-label="Open">open_in_new</mat-icon>
        </a>
        <a class="link-unstyled" mat-icon-button (click)="deletePrinter($event, element.id)">
          <mat-icon color="warn" aria-label="Delete">delete</mat-icon>
        </a>
        <a class="link-unstyled" mat-icon-button (click)="doNothing($event, null)">
          <mat-icon color="warn" aria-label="Clone">file_copy</mat-icon>
        </a>
        <a class="link-unstyled" mat-icon-button (click)="doNothing($event, null)">
          <mat-icon color="warn" aria-label="Open Relation Graph">device_hub</mat-icon>
        </a>
        <a class="link-unstyled" mat-icon-button (click)="doNothing($event, null)">
          <mat-icon color="warn" aria-label="Print">print</mat-icon>
        </a>
        <a class="link-unstyled" mat-icon-button (click)="doNothing($event, null)">
          <mat-icon color="warn">more_vert</mat-icon>
        </a>
      </ng-container>
    </mat-cell>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<mat-paginator #paginator [length]="dataSource.length" [pageIndex]="0" [pageSize]="10"
               [pageSizeOptions]="[10, 20, 50, 100]">
</mat-paginator>
</div>
