<div class="container-fluid p-3">
  <mat-card class="mat-elevation-z8 no-border-radius">
    <h1 class="accent-color mat-headline">{{'cockpit.header' | translate}}</h1>
    <div class="flex-tree-container">
      <ul>
        <ng-container *ngFor="let cockpit of cockpits | async">
          <li>
            <mat-card [ngClass]="cockpit.state === connectedState.YES ? 'item-success': 'item-error'">
              <span>{{cockpit.name}}</span>
              <button mat-icon-button [matMenuTriggerFor]="cockpitMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #cockpitMenu="matMenu">
                <ng-template matMenuContent let-item="item">
                  <button mat-menu-item (click)="viewCockpit(cockpit)">{{'view' | translate}}</button>
                  <button mat-menu-item (click)="editCockpit(cockpit)">{{'shared.edit' | translate}}</button>
                  <button mat-menu-item
                          (click)="viewCockpitAsset(cockpit)">{{'cockpit.asset-classes-link' | translate}}</button>
                </ng-template>
              </mat-menu>
            </mat-card>
            <ul *ngIf="cockpit?.minions?.length > 0">
              <li *ngFor="let minion of cockpit.minions">
                <mat-card [ngClass]="minion.state === minionConnectedState.YES ? 'item-success': 'item-error'">
                  <span>{{minion.name}}</span>
                  <button mat-icon-button [matMenuTriggerFor]="minionMenu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #minionMenu="matMenu">
                    <ng-template matMenuContent let-item="item">
                      <button mat-menu-item (click)="viewMinion(minion)">{{'view' | translate}}</button>
                      <button mat-menu-item (click)="editMinion(minion)">{{'shared.edit' | translate}}</button>
                      <button mat-menu-item (click)="deleteMinion(minion)">{{'shared.delete' | translate}}</button>
                    </ng-template>
                  </mat-menu>
                </mat-card>
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </div>
  </mat-card>
</div>
