<div class="container-fluid p-3">
  <h2 class="accent-color mat-title" *ngIf="configItem && configItem.id">{{'config-item.edit.header' | translate}}</h2>
  <h2 class="accent-color mat-title"
      *ngIf="!configItem || !configItem.id">{{'config-item.create.header' | translate}}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'config-item.id-class' | translate" formControlName="idClass">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'config-item.code' | translate" formControlName="code">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'config-item.description' | translate"
                 formControlName="description">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'config-item.status' | translate" formControlName="status">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'config-item.user' | translate" formControlName="user">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'config-item.notes' | translate" formControlName="notes">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'config-item.current-id' | translate" formControlName="currentId">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'config-item.id-tenant' | translate" formControlName="idTenant">
        </mat-form-field>
      </div>

      <ng-container>
        <div class="col-12 d-flex justify-content-end mt-2">
          <div class="row">
            <div class="col">
              <button type="button" mat-raised-button mat-dialog-close>{{'shared.button.cancel' | translate}}</button>
            </div>
            <div class="col">
              <button type="submit" mat-raised-button color="accent">{{'shared.button.submit' | translate}}</button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

  </form>
</div>
