<div class="container-fluid p-3">
  <mat-card class="mat-elevation-z8 no-border-radius">
    <h1 class="mat-h1">{{'user.edit.header' | translate}}</h1>
    <ng-container *ngIf="!!account">
      <form [formGroup]="accountForm">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input matInput [placeholder]="'user.edit.email.placeholder' | translate" formControlName="email">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input matInput [placeholder]="'user.edit.first_name.placeholder' | translate"
                     formControlName="firstName">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input matInput [placeholder]="'user.edit.last_name.placeholder' | translate" formControlName="lastName">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input matInput [placeholder]="'user.edit.profile.placeholder' | translate" formControlName="authorities">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-select [placeholder]="'user.edit.language.placeholder' | translate" formControlName="langKey">
                <mat-option *ngFor="let language of languages" [value]="language">{{language}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row pt-3">
          <div class="col-md-3 mb-3 offset-md-2">
            <button mat-raised-button color="primary" class="w-100" routerLink="/home" type="button">
              {{'shared.button.cancel' | translate}}
            </button>
          </div>
          <div class="col-md-3 mb-3 offset-md-2">
            <button mat-raised-button color="accent" class="w-100"
                    (click)="updateAccount()">{{'shared.button.submit' | translate}}</button>
          </div>
        </div>
      </form>
    </ng-container>
  </mat-card>
</div>
