table {
  width: 100%;
}

tr.custom-table-detail-row {
  height: 0;
}

tr.custom-table-element-row:not(.custom-table-expanded-row):hover {
  background: #777;
}

tr.custom-table-element-row:not(.custom-table-expanded-row):active {
  background: #efefef;
}

.custom-table-element-row td {
  border-bottom-width: 0;
}

.custom-table-element-detail {
  overflow: hidden;
  display: flex;
}
