<div class="container-fluid p-3">
  <h2 class="accent-color mat-title" *ngIf="computer && computer.id">{{'computer.edit.header' | translate}}</h2>
  <h2 class="accent-color mat-title" *ngIf="!computer || !computer.id">{{'computer.create.header' | translate}}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input matInput type="text" [placeholder]="'computer.id-class' | translate" formControlName="idClass">
      </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'computer.code' | translate" formControlName="code">
        </mat-form-field>       
    </div>
    <div class="col-md-6">
        <mat-form-field class="w-100">
            <input matInput type="text" [placeholder]="'computer.description' | translate" formControlName="description">    
         </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="w-100">
            <input matInput type="text" [placeholder]="'computer.status' | translate" formControlName="status">
          </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="w-100">
            <input matInput type="text" [placeholder]="'computer.user' | translate" formControlName="user">
          </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="w-100">
            <mat-label>{{'computer.begin-date' | translate}}</mat-label>
            <input matInput [matDatepicker]="beginDate" [min]="today" placeholder="DD/MM/YYYY" formControlName="beginDate">
            <mat-datepicker-toggle matPrefix [for]="beginDate"></mat-datepicker-toggle>
            <mat-datepicker touchUi #beginDate disabled="false"></mat-datepicker>
          </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="w-100">
            <input matInput type="text" [placeholder]="'computer.notes' | translate" formControlName="notes">
          </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="w-100">
            <mat-label>{{'computer.end-date' | translate}}</mat-label>
            <input matInput [matDatepicker]="endDate" [min]="today" placeholder="DD/MM/YYYY" formControlName="endDate">
            <mat-datepicker-toggle matPrefix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker touchUi #endDate disabled="false"></mat-datepicker>
          </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="w-100">
            <input matInput type="text" [placeholder]="'computer.current-id' | translate" formControlName="currentId">
          </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="w-100">
            <input matInput type="text" [placeholder]="'computer.id-tenant' | translate" formControlName="idTenant">
          </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="w-100">
            <input matInput type="text" [placeholder]="'computer.serial-number' | translate" formControlName="serialNumber">
          </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="w-100">
            <input matInput type="number" [placeholder]="'computer.supplier' | translate" formControlName="supplier">
          </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="w-100">
            <mat-label>{{'computer.purchase-date' | translate}}</mat-label>
            <input matInput [matDatepicker]="purchaseDate" placeholder="DD/MM/YYYY" formControlName="purchaseDate">
            <mat-datepicker-toggle matPrefix [for]="purchaseDate"></mat-datepicker-toggle>
            <mat-datepicker touchUi #purchaseDate disabled="false"></mat-datepicker>
          </mat-form-field> 
    </div>
    <div class="col-md-6">
        <mat-form-field class="w-100">
            <mat-label>{{'computer.acceptance-date' | translate}}</mat-label>
            <input matInput [matDatepicker]="acceptanceDate" placeholder="DD/MM/YYYY" formControlName="acceptanceDate">
            <mat-datepicker-toggle matPrefix [for]="acceptanceDate"></mat-datepicker-toggle>
            <mat-datepicker touchUi #acceptanceDate disabled="false"></mat-datepicker>
          </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="w-100">
            <input matInput type="number" [placeholder]="'computer.final-cost' | translate" formControlName="finalCost">
          </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="w-100">
            <input matInput type="number" [placeholder]="'computer.brand' | translate" formControlName="brand">
          </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="w-100">
            <input matInput type="text" [placeholder]="'computer.model' | translate" formControlName="model">
          </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="w-100">
            <input matInput type="number" [placeholder]="'computer.room' | translate" formControlName="room">
          </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="w-100">
            <input matInput type="number" [placeholder]="'computer.assignee' | translate" formControlName="assignee">
          </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="w-100">
            <input matInput type="number" [placeholder]="'computer.technical-reference' | translate" formControlName="technicalReference">
          </mat-form-field> 
    </div>
    <div class="col-md-6">
        <mat-form-field class="w-100">
            <input matInput type="number" [placeholder]="'computer.workplace' | translate" formControlName="workplace">
          </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="w-100">
            <input matInput type="text" [placeholder]="'computer.acceptance-notes' | translate" formControlName="acceptanceNotes">
          </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'computer.ram' | translate" formControlName="ram">
        </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'computer.cpu-number' | translate" formControlName="cpuNumber">
        </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'computer.cpu-speed' | translate" formControlName="cpuSpeed">
        </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'computer.hd-size' | translate" formControlName="hdSize">
        </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'computer.ip-address' | translate" formControlName="ipAddress">
        </mat-form-field>
    </div>
    <ng-container>
        <div class="col-12 d-flex justify-content-end mt-2">
          <div class="row">
            <div class="col">
              <button type="button" mat-raised-button mat-dialog-close>{{'shared.button.cancel' | translate}}</button>
            </div>
            <div class="col">
              <button type="submit" mat-raised-button color="accent">{{'shared.button.submit' | translate}}</button>
            </div>
          </div>
        </div>
      </ng-container>
  </div>
    
  </form>
</div>