<div class="container-fluid p-3">
  <h1 class="d-flex justify-content-between mb-2">
    <span class="accent-color mat-headline">{{'snmp.header' | translate}}</span>
    <button mat-raised-button color="accent"
            (click)="editConfig(null)">{{'shared.button.add' | translate}}</button>
  </h1>

  <div class="mat-elevation-z8 w-100">
    <mat-table [dataSource]="dataSource" aria-label="Elements" matSort>

      <ng-container matColumnDef="ipaddress">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"snmp.list.ipaddress" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-mobile-header">{{"snmp.list.ipaddress" | translate}}</span>
          <span>{{element.ipaddress}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="minions">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"snmp.list.minions" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-mobile-header">{{"snmp.list.minions" | translate}}</span>
          <ng-container *ngFor="let minion of element.minions">
            <span>{{minion.name}}</span>
          </ng-container>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="port">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"snmp.list.port" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-mobile-header">{{"snmp.list.port" | translate}}</span>
          <span>{{element.port}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="monitored">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"snmp.list.monitored" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-mobile-header">{{"snmp.list.monitored" | translate}}</span>
          <span>{{element.monitored}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="community">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"snmp.list.community" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-mobile-header">{{"snmp.list.community" | translate}}</span>
          <span>{{element.community}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container>
            <a class="link-unstyled" mat-icon-button (click)="editConfig(element)">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </a>
            <a class="link-unstyled" mat-icon-button (click)="removeConfig(element.id)">
              <mat-icon color="warn" aria-label="Delete">delete</mat-icon>
            </a>
          </ng-container>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [length]="dataSource.length" [pageIndex]="0" [pageSize]="10"
                   [pageSizeOptions]="[10, 20, 50, 100]">
    </mat-paginator>
  </div>
</div>
