<div class="container-fluid p-3">
  <mat-card class="mat-elevation-z8 no-border-radius">
    <h2>{{'audits.title' | translate}}</h2>
    <div class="row">
      <div class="col-md-5">
        <h4>{{'audits.filter.title' | translate}}</h4>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>{{'audits.filter.from' | translate}}</mat-label>
              <input matInput [matDatepicker]="fromDate" [formControl]="fromDateForm" placeholder="DD/MM/YYYY"/>
              <mat-datepicker-toggle matPrefix [for]="fromDate"></mat-datepicker-toggle>
              <mat-datepicker touchUi #fromDate disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>{{'audits.filter.to' | translate}}</mat-label>
              <input matInput [matDatepicker]="toDate" [formControl]="toDateForm" placeholder="DD/MM/YYYY"/>
              <mat-datepicker-toggle matPrefix [for]="toDate"></mat-datepicker-toggle>
              <mat-datepicker touchUi #toDate disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="mat-elevation-z8 table-container">
      <mat-table [dataSource]="dataSource" matSort aria-label="Elements">
        <ng-container matColumnDef="timestamp">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{"audits.table.header.date" | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="table-mobile-header">{{"audits.table.header.date" | translate}}</span>
            <span>{{element.timestamp | date:'medium'}}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="principal">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{"audits.table.header.principal" | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="table-mobile-header">{{"audits.table.header.principal" | translate}}</span>
            <span>{{element.principal}}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{"audits.table.header.status" | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="table-mobile-header">{{"audits.table.header.status" | translate}}</span>
            <span>{{element.type}}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="data">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{"audits.table.header.data" | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="table-mobile-header">{{"audits.table.header.data" | translate}}</span>
            <span *ngIf="element.data">{{element.data.message}}</span>
            <span *ngIf="element.data">
          <span>{{'audits.table.data.remoteAddress' | translate}}</span>
              {{element.data.remoteAddress}}
        </span>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [length]="dataSource.length" [pageIndex]="0" [pageSize]="10"
                     [pageSizeOptions]="[10, 20, 50, 100]">
      </mat-paginator>
    </div>
  </mat-card>
</div>
