<div class="container-fluid p-3">
  <h2 class="accent-color mat-title">{{'minion.edit.header' | translate}}</h2>
  <form [formGroup]="minionForm" (ngSubmit)="onSubmit()">
    <ng-container>
      <mat-form-field class="w-100">
        <input matInput [placeholder]="'minion.edit.name' | translate" formControlName="name">
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput [placeholder]="'minion.edit.command' | translate" formControlName="command">
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput [placeholder]="'minion.edit.cidr' | translate" formControlName="url">
      </mat-form-field>
      <div class="col-12 d-flex justify-content-end mt-2">
        <div class="row">
          <div class="col">
            <button type="button" mat-raised-button mat-dialog-close>{{'shared.button.cancel' | translate}}</button>
          </div>
          <div class="col">
            <button type="submit" mat-raised-button color="accent">{{'shared.button.submit' | translate}}</button>
          </div>
        </div>
      </div>
    </ng-container>
  </form>
</div>
