<div class="d-flex flex-row-reverse m-0 p-0">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="container-fluid p-3">
  <h2 class="accent-color mat-title">{{'view.header' | translate}}</h2>
  <p><b>{{'view.name' | translate}}: </b>{{cockpit.name}}</p>
  <p><b>{{'view.description' | translate}}: </b>{{cockpit.description}}</p>
  <p><b>{{'view.url' | translate}}: </b>{{cockpit.url}}</p>
  <p><b>{{'view.state' | translate}}: </b>{{cockpit.state}}</p>
  <div *ngIf="cockpit.metadata">
    <p><b>{{'view.metadata' | translate}}</b></p>
    <ul>
      <li><b>{{'view.metadata.created-time' | translate}}</b>: {{cockpit.metadata.createdTimestamp}}</li>
      <li><b>{{'view.metadata.modified-time' | translate}}</b>: {{cockpit.metadata.modifiedTimestamp}}</li>
      <li><b>{{'view.metadata.created-person' | translate}}</b>: {{cockpit.metadata.createdByPerson}}</li>
      <li><b>{{'view.metadata.modified-person' | translate}}</b>: {{cockpit.metadata.modifiedByPerson}}</li>
    </ul>
  </div>
</div>
