<div class="container-fluid p-3">
  <mat-card class="mat-elevation-z8 no-border-radius">
    <div>
      <h2>
        <span>{{'health.title' | translate}}</span>
        <button mat-raised-button color="accent" class="float-right" (click)="refresh()">
          <mat-icon>refresh</mat-icon>
          <span>{{'health.refresh.button' | translate}}</span>
        </button>
      </h2>

      <mat-table [dataSource]="dataSource" aria-label="Elements">
        <ng-container matColumnDef="service">
          <mat-header-cell *matHeaderCellDef>
            {{"health.table.service" | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="table-mobile-header">{{"health.table.service" | translate}}</span>
            <span>{{'health.indicator.' + baseName(element.name) | translate}} {{subSystemName(element.name)}}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>
            {{"health.table.status" | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="table-mobile-header">{{"health.table.status" | translate}}</span>
            <mat-chip-list>
              <mat-chip [color]="getStatusColor(element.status)">{{element.status}}</mat-chip>
            </mat-chip-list>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="details">
          <mat-header-cell *matHeaderCellDef>
            {{"health.details.details" | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="table-mobile-header">{{"health.details.details" | translate}}</span>
            <a class="link-unstyled" *ngIf="element.details || element.error" mat-icon-button (click)="showHealth(element)">
              <mat-icon aria-label="View">pageview</mat-icon>
            </a>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-card>
</div>
