<div>
  <div class="d-flex flex-row-reverse m-0 p-0">
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h4>
    {{'health.indicator.' + baseName(currentHealth.name) | translate}}
    {{subSystemName(currentHealth.name)}}
  </h4>

  <div *ngIf="currentHealth.details">
    <h5>{{'health.details.properties'| translate}}</h5>

    <mat-table [dataSource]="currentHealth.details.details | keyvalue" aria-label="Elements">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>
          {{"health.details.name" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-mobile-header">{{"health.details.name" | translate}}</span>
          <span>{{element.key}}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef>
          {{"health.details.value" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-mobile-header">{{"health.table.status" | translate}}</span>
          <span>{{readableValue(element.value)}}</span>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <div *ngIf="currentHealth.error">
    <h4>{{'health.details.error' | translate}}</h4>
    <pre>{{currentHealth.error}}</pre>
  </div>
</div>
