<div class="container-fluid p-3">
  <mat-card class="mat-elevation-z8 no-border-radius">
    <h1 class="mat-h1">{{'user.change-password.header' | translate}}</h1>
    <ng-container *ngIf="!!account">
      <p><b>{{'user.change-password.email' | translate}} {{account.email}}</b></p>
      <form [formGroup]="passwordForm">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input type="password" matInput
                     [placeholder]="'user.change-password.current-password.placeholder' | translate"
                     formControlName="currentPassword">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input type="password" matInput
                     [placeholder]="'user.change-password.new-password.placeholder' | translate"
                     formControlName="newPassword">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input type="password" matInput
                     [placeholder]="'user.change-password.repeat-password.placeholder' | translate"
                     formControlName="newPasswordRepeat">
              <mat-error *ngIf="passwordForm.get('newPasswordRepeat').invalid">{{passwordRepeatError}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-md-3 mb-3 offset-md-2">
            <button mat-raised-button color="primary" class="w-100" routerLink="/home" type="button">
              {{'shared.button.cancel' | translate}}
            </button>
          </div>
          <div class="col-md-3 mb-3 offset-md-2">
            <button mat-raised-button color="accent" class="w-100" (click)="updatePassword()">
              {{'shared.button.submit' | translate}}
            </button>
          </div>
        </div>
      </form>
    </ng-container>
  </mat-card>
</div>
