<div class="container-fluid p-3">
  <h2 class="accent-color mat-title" *ngIf="config && config.id">{{'snmp.edit.header' | translate}}</h2>
  <h2 class="accent-color mat-title" *ngIf="!config || !config.id">{{'snmp.create.header' | translate}}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="w-100">
      <input matInput type="number" [placeholder]="'snmp.port' | translate" formControlName="port">
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput [placeholder]="'snmp.ipaddress' | translate" formControlName="ipaddress">
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput [placeholder]="'snmp.community' | translate" formControlName="community">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-select [placeholder]="'snmp.minions' | translate" formControlName="minions" multiple
                  [compareWith]="compareFn">
        <mat-option disabled>{{'shared.selectDefault' | translate}}</mat-option>
        <mat-option *ngFor="let minion of minions | async" [value]="minion">{{minion.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-select [placeholder]="'snmp.monitored' | translate" formControlName="monitored">
        <mat-option [value]="monitoringEnums.YES">{{monitoringEnums.YES}}</mat-option>
        <mat-option [value]="monitoringEnums.NO">{{monitoringEnums.NO}}</mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container>
      <div class="col-12 d-flex justify-content-end mt-2">
        <div class="row">
          <div class="col">
            <button type="button" mat-raised-button mat-dialog-close>{{'shared.button.cancel' | translate}}</button>
          </div>
          <div class="col">
            <button type="submit" mat-raised-button color="accent">{{'shared.button.submit' | translate}}</button>
          </div>
        </div>
      </div>
    </ng-container>
  </form>
</div>
