<div class="p-3 w-100">
  <div class="d-flex justify-content-between mb-3">
    <h1 class="accent-color mat-headline">{{'user.list.title' | translate}}</h1>
    <button mat-raised-button color="accent" (click)="createUser()">{{'user.list.add-btn' | translate}}</button>
  </div>

  <div class="mat-elevation-z8 table-container">
    <mat-table [dataSource]="dataSource" matSort aria-label="Elements">
      <ng-container matColumnDef="login">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"user.list.login" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-mobile-header">{{"user.list.login" | translate}}</span>
          <span>{{element.login}}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"user.list.email" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-mobile-header">{{"user.list.email" | translate}}</span>
          <span>{{element.email}}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"user.list.firstName" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-mobile-header">{{"user.list.firstName" | translate}}</span>
          <span>{{element.firstName}}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"user.list.lastName" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-mobile-header">{{"user.list.lastName" | translate}}</span>
          <span>{{element.lastName}}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="authorities">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"user.list.profile" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-mobile-header">{{"user.list.profile" | translate}}</span>
          <span>{{element.authorities}}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="activated">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"user.list.status" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-mobile-header">{{"user.list.status" | translate}}</span>
          <span [ngClass]="element.activated ? 'success-color' : 'danger-color'">{{element.activated}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container>
            <a class="link-unstyled" mat-icon-button (click)="editUser(element)">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </a>
            <a class="link-unstyled" mat-icon-button (click)="deleteUser(element)">
              <mat-icon color="warn" aria-label="Delete">delete</mat-icon>
            </a>
          </ng-container>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [length]="dataSource.length" [pageIndex]="0" [pageSize]="10"
                   [pageSizeOptions]="[10, 20, 50, 100]">
    </mat-paginator>
  </div>
</div>
