<div class="container-fluid p-3">
  <h1 class="d-flex justify-content-between mb-2">
    <span class="accent-color mat-headline text-uppercase">{{'basic-monitoring.header' | translate}}</span>
    <button mat-raised-button color="accent"
            (click)="editConfig(null)">{{'shared.button.add' | translate}}</button>
  </h1>

  <div class="mat-elevation-z8 w-100">
    <mat-table [dataSource]="dataSource" aria-label="Elements" matSort>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"basic-monitoring.name" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-mobile-header">{{"basic-monitoring.name" | translate}}</span>
          <span>{{element.name}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="minion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"basic-monitoring.minion" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-mobile-header">{{"basic-monitoring.minion" | translate}}</span>
          <span>{{element?.name}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"basic-monitoring.type" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-mobile-header">{{"basic-monitoring.type" | translate}}</span>
          <span>{{element.type}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="enabled">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"basic-monitoring.enabled" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-mobile-header">{{"basic-monitoring.enabled" | translate}}</span>
          <span>{{element.enabled}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="schedule">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"basic-monitoring.schedule" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-mobile-header">{{"basic-monitoring.schedule" | translate}}</span>
          <span>{{element.schedule}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ipv4">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"basic-monitoring.ipv4" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-mobile-header">{{"basic-monitoring.ipv4" | translate}}</span>
          <span>{{element.ipv4}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ipv6">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"basic-monitoring.ipv6" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-mobile-header">{{"basic-monitoring.ipv6" | translate}}</span>
          <span>{{element.ipv6}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="mode">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{"basic-monitoring.mode" | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-mobile-header">{{"basic-monitoring.mode" | translate}}</span>
          <span>{{element.mode}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container>
            <a class="link-unstyled" mat-icon-button (click)="editConfig(element)">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </a>
            <a class="link-unstyled" mat-icon-button (click)="removeConfig(element.id)">
              <mat-icon color="warn" aria-label="Delete">delete</mat-icon>
            </a>
          </ng-container>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [length]="dataSource.length" [pageIndex]="0" [pageSize]="10"
                   [pageSizeOptions]="[10, 20, 50, 100]">
    </mat-paginator>
  </div>
</div>
