<div class="p-3">
  <seb-ng-magic-iframe [source]="iframeUrl"
                       [autoResize]="false"
                       [resizeDebounceMillis]="0">
    <div class="d-flex justify-content-center align-content-center">
      <mat-spinner></mat-spinner>
    </div>
  </seb-ng-magic-iframe>
</div>
