<div class="container-fluid p-3">
  <h2 class="accent-color mat-title" *ngIf="license && license.id">{{'license.edit.header' | translate}}</h2>
  <h2 class="accent-color mat-title" *ngIf="!license || !license.id">{{'license.create.header' | translate}}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'license.id-class' | translate" formControlName="idClass">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'license.code' | translate" formControlName="code">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'license.description' | translate" formControlName="description">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'license.status' | translate" formControlName="status">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'license.user' | translate" formControlName="user">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'license.notes' | translate" formControlName="notes">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'license.current-id' | translate" formControlName="currentId">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'license.id-tenant' | translate" formControlName="idTenant">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'license.serial-number' | translate"
                 formControlName="serialNumber">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'license.supplier' | translate" formControlName="supplier">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>{{'license.purchase-date' | translate}}</mat-label>
          <input matInput [matDatepicker]="purchaseDate" placeholder="DD/MM/YYYY" formControlName="purchaseDate">
          <mat-datepicker-toggle matPrefix [for]="purchaseDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #purchaseDate disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>{{'license.acceptance-date' | translate}}</mat-label>
          <input matInput [matDatepicker]="acceptanceDate" placeholder="DD/MM/YYYY" formControlName="acceptanceDate">
          <mat-datepicker-toggle matPrefix [for]="acceptanceDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #acceptanceDate disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'license.final-cost' | translate" formControlName="finalCost">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'license.brand' | translate" formControlName="brand">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'license.model' | translate" formControlName="model">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'license.room' | translate" formControlName="room">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'license.assignee' | translate" formControlName="assignee">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'license.technical-reference' | translate"
                 formControlName="technicalReference">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'license.workplace' | translate" formControlName="workplace">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'license.acceptance-notes' | translate"
                 formControlName="acceptanceNotes">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'license.category' | translate" formControlName="category">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="string" [placeholder]="'license.version' | translate" formControlName="version">
        </mat-form-field>
      </div>

      <ng-container>
        <div class="col-12 d-flex justify-content-end mt-2">
          <div class="row">
            <div class="col">
              <button type="button" mat-raised-button mat-dialog-close>{{'shared.button.cancel' | translate}}</button>
            </div>
            <div class="col">
              <button type="submit" mat-raised-button color="accent">{{'shared.button.submit' | translate}}</button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

  </form>
</div>
