<div class="container-fluid p-3">
    <h2 class="accent-color mat-title" *ngIf="monitor && monitor.id">{{'monitor.edit.header' | translate}}</h2>
    <h2 class="accent-color mat-title" *ngIf="!monitor || !monitor.id">{{'monitor.create.header' | translate}}</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'monitor.id-class' | translate" formControlName="idClass">
        </mat-form-field>
      </div>
      <div class="col-md-6">
          <mat-form-field class="w-100">
            <input matInput type="text" [placeholder]="'monitor.code' | translate" formControlName="code">
          </mat-form-field>       
      </div>
      <div class="col-md-6">
          <mat-form-field class="w-100">
              <input matInput type="text" [placeholder]="'monitor.description' | translate" formControlName="description">    
           </mat-form-field>
      </div>
      <div class="col-md-6">
          <mat-form-field class="w-100">
              <input matInput type="text" [placeholder]="'monitor.status' | translate" formControlName="status">
            </mat-form-field>
      </div>
      <div class="col-md-6">
          <mat-form-field class="w-100">
              <input matInput type="text" [placeholder]="'monitor.user' | translate" formControlName="user">
            </mat-form-field>
      </div>
      <div class="col-md-6">
          <mat-form-field class="w-100">
              <mat-label>{{'monitor.begin-date' | translate}}</mat-label>
              <input matInput [matDatepicker]="beginDate" [min]="today" placeholder="DD/MM/YYYY" formControlName="beginDate">
              <mat-datepicker-toggle matPrefix [for]="beginDate"></mat-datepicker-toggle>
              <mat-datepicker touchUi #beginDate disabled="false"></mat-datepicker>
            </mat-form-field>
      </div>
      <div class="col-md-6">
          <mat-form-field class="w-100">
              <input matInput type="text" [placeholder]="'monitor.notes' | translate" formControlName="notes">
            </mat-form-field>
      </div>
      <div class="col-md-6">
          <mat-form-field class="w-100">
              <mat-label>{{'monitor.end-date' | translate}}</mat-label>
              <input matInput [matDatepicker]="endDate" [min]="today" placeholder="DD/MM/YYYY" formControlName="endDate">
              <mat-datepicker-toggle matPrefix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker touchUi #endDate disabled="false"></mat-datepicker>
            </mat-form-field>
      </div>
      <div class="col-md-6">
          <mat-form-field class="w-100">
              <input matInput type="text" [placeholder]="'monitor.current-id' | translate" formControlName="currentId">
            </mat-form-field>
      </div>
      <div class="col-md-6">
          <mat-form-field class="w-100">
              <input matInput type="text" [placeholder]="'monitor.id-tenant' | translate" formControlName="idTenant">
            </mat-form-field>
      </div>
      <div class="col-md-6">
          <mat-form-field class="w-100">
              <input matInput type="text" [placeholder]="'monitor.serial-number' | translate" formControlName="serialNumber">
            </mat-form-field>
      </div>
      <div class="col-md-6">
          <mat-form-field class="w-100">
              <input matInput type="number" [placeholder]="'monitor.supplier' | translate" formControlName="supplier">
            </mat-form-field>
      </div>
      <div class="col-md-6">
          <mat-form-field class="w-100">
              <mat-label>{{'monitor.purchase-date' | translate}}</mat-label>
              <input matInput [matDatepicker]="purchaseDate" placeholder="DD/MM/YYYY" formControlName="purchaseDate">
              <mat-datepicker-toggle matPrefix [for]="purchaseDate"></mat-datepicker-toggle>
              <mat-datepicker touchUi #purchaseDate disabled="false"></mat-datepicker>
            </mat-form-field> 
      </div>
      <div class="col-md-6">
          <mat-form-field class="w-100">
              <mat-label>{{'monitor.acceptance-date' | translate}}</mat-label>
              <input matInput [matDatepicker]="acceptanceDate" placeholder="DD/MM/YYYY" formControlName="acceptanceDate">
              <mat-datepicker-toggle matPrefix [for]="acceptanceDate"></mat-datepicker-toggle>
              <mat-datepicker touchUi #acceptanceDate disabled="false"></mat-datepicker>
            </mat-form-field>
      </div>
      <div class="col-md-6">
          <mat-form-field class="w-100">
              <input matInput type="number" [placeholder]="'monitor.final-cost' | translate" formControlName="finalCost">
            </mat-form-field>
      </div>
      <div class="col-md-6">
          <mat-form-field class="w-100">
              <input matInput type="number" [placeholder]="'monitor.brand' | translate" formControlName="brand">
            </mat-form-field>
      </div>
      <div class="col-md-6">
          <mat-form-field class="w-100">
              <input matInput type="text" [placeholder]="'monitor.model' | translate" formControlName="model">
            </mat-form-field>
      </div>
      <div class="col-md-6">
          <mat-form-field class="w-100">
              <input matInput type="number" [placeholder]="'monitor.room' | translate" formControlName="room">
            </mat-form-field>
      </div>
      <div class="col-md-6">
          <mat-form-field class="w-100">
              <input matInput type="number" [placeholder]="'monitor.assignee' | translate" formControlName="assignee">
            </mat-form-field>
      </div>
      <div class="col-md-6">
          <mat-form-field class="w-100">
              <input matInput type="number" [placeholder]="'monitor.technical-reference' | translate" formControlName="technicalReference">
            </mat-form-field> 
      </div>
      <div class="col-md-6">
          <mat-form-field class="w-100">
              <input matInput type="number" [placeholder]="'monitor.workplace' | translate" formControlName="workplace">
            </mat-form-field>
      </div>
      <div class="col-md-6">
          <mat-form-field class="w-100">
              <input matInput type="text" [placeholder]="'monitor.acceptance-notes' | translate" formControlName="acceptanceNotes">
            </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
            <input matInput type="number" [placeholder]="'monitor.type' | translate" formControlName="type">
          </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
            <input matInput type="number" [placeholder]="'monitor.screen-size' | translate" formControlName="screenSize">
          </mat-form-field>
      </div>
      
      <ng-container>
          <div class="col-12 d-flex justify-content-end mt-2">
            <div class="row">
              <div class="col">
                <button type="button" mat-raised-button mat-dialog-close>{{'shared.button.cancel' | translate}}</button>
              </div>
              <div class="col">
                <button type="submit" mat-raised-button color="accent">{{'shared.button.submit' | translate}}</button>
              </div>
            </div>
          </div>
        </ng-container>
    </div>
      
    </form>
  </div>