<div class="d-flex justify-content-center h-100">
  <div class="d-flex align-items-center">
    <mat-card class="pb-5 mat-elevation-z5 app-modal-form">
      <mat-card-content>
        <div class="d-flex justify-content-center">
          <h2>Reset Password</h2>
        </div>
        <form [formGroup]="passwordForm">

          <div class="d-flex flex-column">
            <div class="p-2">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>New Password</mat-label>
                <mat-icon matPrefix>lock</mat-icon>
                <input type="password" matInput placeholder="Please enter new password" formControlName="newPassword">
              </mat-form-field>
            </div>
            <div class="p-2">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Repeat New Password</mat-label>
                <mat-icon matPrefix>lock</mat-icon>
                <input type="password" matInput placeholder="Please repeat new password"
                       formControlName="newPasswordRepeat">
                <mat-error *ngIf="passwordForm.get('newPasswordRepeat').invalid">{{passwordRepeatError}}</mat-error>
              </mat-form-field>
            </div>

            <div class="p-2 text-right">
              <a routerLink="/auth/login" class="primary-color">Login</a>
            </div>

            <div class="p-2">
              <button mat-raised-button color="accent" class="w-100" (click)="activateAccount()"
                      [disabled]="passwordForm.invalid">Proceed
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
