<div>
  <div *ngIf="data.closable" class="d-flex flex-row-reverse m-0 p-0">
    <button mat-icon-button (click)="close()" class="">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="toast-content">
    {{data.message}}
  </div>
</div>
