.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

.sidenav {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav-logo {
  height: 30px;
}

.mat-stroked-button {
  border-color: #ffffff;
}

.version-text {
  font-size: small;
}

.home-bg {
  background: url("~src/assets/images/background/background.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
