<ng-template #appIdentity>
  <div class="d-flex justify-content-between w-100">
    <div>
      <a routerLink="home" class="link-unstyled">
      <img class="sidenav-logo mr-2" [src]="'assets/images/logos/logo.png'"/>
      <span>{{'shared.appName' | translate}}</span>
      </a>
    </div>
    <span class="version-text">{{version}}</span>
  </div>
</ng-template>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #mainSidenav class="sidenav" fixedInViewport="true" *ngIf="!isAsset"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)"
               [position]="'start'">
    <mat-toolbar color="primary">
      <ng-container *ngTemplateOutlet="appIdentity"></ng-container>
    </mat-toolbar>
    <app-home-navigation (isClicked)="closeSideNavMobile()"></app-home-navigation>
  </mat-sidenav>

  <mat-sidenav #assetSidenav class="sidenav" fixedInViewport="true" *ngIf="isAsset"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)"
               [position]="'start'">
    <mat-toolbar color="primary">
      <ng-container *ngTemplateOutlet="appIdentity"></ng-container>
    </mat-toolbar>
    <app-asset-navigation></app-asset-navigation>
  </mat-sidenav>

  <mat-sidenav-content class="secondary-color-bg">
    <mat-toolbar color="primary">
      <a mat-icon-button routerLink="cockpit" class="link-unstyled" *ngIf="isAsset">
        <mat-icon aria-label="Back to main page">arrow_back</mat-icon>
      </a>
      <a mat-icon-button (click)="toggleSidenav()" class="link-unstyled">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </a>
      <div class="ml-5" *ngIf="!(isHandset$ | async)">
        <a mat-stroked-button class="link-unstyled" routerLink="business-view" routerLinkActive="light-bg-primary-color">
          <span translate="navigation.business-view">Business View</span>
        </a>
        <a mat-stroked-button class="link-unstyled ml-2" routerLink="network" routerLinkActive="light-bg-primary-color">
          <span translate="navigation.network">Network</span>
        </a>
        <a mat-stroked-button class="link-unstyled ml-2">
          <span translate="navigation.security-zone">Security Zone</span>
        </a>
      </div>
      <div class="d-flex flex-row-reverse w-100">
        <ng-container>
          <a class="link-unstyled" mat-icon-button [matMenuTriggerFor]="settingsMenu">
            <mat-icon>perm_identity</mat-icon>
          </a>
          <mat-menu #settingsMenu="matMenu">
            <a class="link-unstyled" mat-menu-item routerLink="account" routerLinkActive="light-bg">
              <mat-icon>edit</mat-icon>
              <span>{{'settings.account' | translate}}</span>
            </a>
            <a class="link-unstyled" mat-menu-item routerLink="change-password" routerLinkActive="light-bg">
              <mat-icon>lock</mat-icon>
              <span>{{'settings.change-password' | translate}}</span>
            </a>
            <a class="link-unstyled" mat-menu-item (click)="logout()">
              <mat-icon>power_settings_new</mat-icon>
              <span>{{'auth.logout' | translate}}</span>
            </a>
          </mat-menu>
        </ng-container>

        <ng-container>
          <a class="link-unstyled" mat-button [matMenuTriggerFor]="languageMenu">
            <mat-icon class="mr-1">language</mat-icon>
            <span>{{langKey.toUpperCase()}}</span>
            <mat-icon>arrow_drop_down</mat-icon>
          </a>
          <mat-menu #languageMenu="matMenu">
            <a class="link-unstyled" mat-menu-item (click)="changeLanguage('en')">
              <span>{{'languages.english' | translate}}</span>
            </a>
            <a class="link-unstyled" mat-menu-item (click)="changeLanguage('de')">
              <span>{{'languages.german' | translate}}</span>
            </a>
          </mat-menu>
        </ng-container>

        <ng-container *ngIf="isAdmin$ | async">
          <mat-menu #administrationMenu="matMenu">
            <a class="link-unstyled" mat-menu-item routerLink="users" routerLinkActive="light-bg">
              <mat-icon>table_chart</mat-icon>
              <span>{{'admin.user-management' | translate}}</span>
            </a>
            <a class="link-unstyled" mat-menu-item routerLink="audits" routerLinkActive="light-bg">
              <mat-icon>dashboard</mat-icon>
              <span>{{'admin.audits' | translate}}</span>
            </a>
            <a class="link-unstyled" mat-menu-item routerLink="metrics" routerLinkActive="light-bg">
              <mat-icon>dashboard</mat-icon>
              <span>{{'admin.metrics' | translate}}</span>
            </a>
            <a class="link-unstyled" mat-menu-item routerLink="health" routerLinkActive="light-bg">
              <mat-icon>healing</mat-icon>
              <span>{{'admin.health' | translate}}</span>
            </a>
            <a class="link-unstyled" mat-menu-item>
              <mat-icon>settings_input_component</mat-icon>
              <span>{{'admin.configuration' | translate}}</span>
            </a>
            <a class="link-unstyled" mat-menu-item>
              <mat-icon>folder</mat-icon>
              <span>{{'admin.logs' | translate}}</span>
            </a>
          </mat-menu>

          <a class="link-unstyled" mat-button [matMenuTriggerFor]="administrationMenu">
            <mat-icon class="mr-2">settings</mat-icon>
            <span>{{'admin.title' | translate}}</span>
            <mat-icon>arrow_drop_down</mat-icon>
          </a>
        </ng-container>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
