<div class="container-fluid p-3">
  <h2 class="accent-color mat-title" *ngIf="asset && asset.id">{{'asset.edit.header' | translate}}</h2>
  <h2 class="accent-color mat-title" *ngIf="!asset || !asset.id">{{'asset.create.header' | translate}}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'asset.id-class' | translate" formControlName="idClass">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'asset.code' | translate" formControlName="code">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'asset.description' | translate" formControlName="description">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'asset.status' | translate" formControlName="status">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'asset.user' | translate" formControlName="user">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'asset.notes' | translate" formControlName="notes">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'asset.current-id' | translate" formControlName="currentId">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'asset.id-tenant' | translate" formControlName="idTenant">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'asset.serial-number' | translate" formControlName="serialNumber">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'asset.supplier' | translate" formControlName="supplier">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>{{'asset.purchase-date' | translate}}</mat-label>
          <input matInput [matDatepicker]="purchaseDate" placeholder="DD/MM/YYYY" formControlName="purchaseDate">
          <mat-datepicker-toggle matPrefix [for]="purchaseDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #purchaseDate disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>{{'asset.acceptance-date' | translate}}</mat-label>
          <input matInput [matDatepicker]="acceptanceDate" placeholder="DD/MM/YYYY" formControlName="acceptanceDate">
          <mat-datepicker-toggle matPrefix [for]="acceptanceDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #acceptanceDate disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'asset.final-cost' | translate" formControlName="finalCost">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'asset.brand' | translate" formControlName="brand">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'asset.model' | translate" formControlName="model">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'asset.room' | translate" formControlName="room">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'asset.assignee' | translate" formControlName="assignee">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'asset.technical-reference' | translate"
                 formControlName="technicalReference">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="number" [placeholder]="'asset.workplace' | translate" formControlName="workplace">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput type="text" [placeholder]="'asset.acceptance-notes' | translate"
                 formControlName="acceptanceNotes">
        </mat-form-field>
      </div>
      <ng-container>
        <div class="col-12 d-flex justify-content-end mt-2">
          <div class="row">
            <div class="col">
              <button type="button" mat-raised-button mat-dialog-close>{{'shared.button.cancel' | translate}}</button>
            </div>
            <div class="col">
              <button type="submit" mat-raised-button color="accent">{{'shared.button.submit' | translate}}</button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

  </form>
</div>
