<div class="d-flex justify-content-center h-100">
  <div class="d-flex align-items-center">
    <mat-card class="pb-5 mat-elevation-z5 app-modal-form">
      <mat-card-content>
        <div class="d-flex justify-content-center">
          <h2 class="p-3">Reset password</h2>
        </div>
        <form novalidate [formGroup]="forgotPasswordForm">
          <div class="d-flex flex-column">
            <div class="p-2">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Email</mat-label>
                <mat-icon matPrefix>email</mat-icon>
                <input type="text" placeholder="Enter email" matInput formControlName="email">
              </mat-form-field>
            </div>
            <div class="p-2 text-right">
              <a routerLink="/auth/login" class="primary-color">Login</a>
            </div>

            <div class="p-2">
              <button type="button" mat-raised-button color="accent" class="w-100"
                [disabled]="forgotPasswordForm.invalid" (click)="forgotPassword()">
                Reset Password
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
