<div class="container-fluid p-3">
  <h2 class="accent-color mat-title">{{'network.create.header' | translate}}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="w-100">
      <mat-label>{{'network.create.name' | translate}}</mat-label>
      <input matInput formControlName="name"/>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>{{'network.create.cidr' | translate}}</mat-label>
      <input matInput formControlName="cidr"/>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>{{'network.create.gateway' | translate}}</mat-label>
      <input matInput formControlName="gateway"/>
    </mat-form-field>
    <ng-container>
      <div class="col-12 d-flex justify-content-end mt-2">
        <div class="row">
          <div class="col">
            <button type="button" mat-raised-button mat-dialog-close>{{'shared.button.cancel' | translate}}</button>
          </div>
          <div class="col">
            <button type="submit" mat-raised-button color="accent">{{'shared.button.submit' | translate}}</button>
          </div>
        </div>
      </div>
    </ng-container>
  </form>
</div>
