<mat-nav-list>
  <a mat-list-item routerLink="cockpit" (click)="isClicked.emit(true)" routerLinkActive="light-bg">
    <mat-icon class="mr-2">dashboard</mat-icon>
    {{"side-nav-menu.cockpit" | translate}}
  </a>
  <a mat-list-item routerLink="ip-discovery" (click)="isClicked.emit(true)" routerLinkActive="light-bg">
    <mat-icon class="mr-2">build</mat-icon>
    {{"side-nav-menu.ip-discovery" | translate}}
  </a>
  <a mat-list-item routerLink="snmp-config" (click)="isClicked.emit(true)" routerLinkActive="light-bg">
    <mat-icon class="mr-2" svgIcon="compass"></mat-icon>
    {{"side-nav-menu.snmp-discovery" | translate}}
  </a>
  <a mat-list-item>
    <mat-icon class="mr-2" svgIcon="problem"></mat-icon>
    {{"side-nav-menu.alert-manager" | translate}}
  </a>
  <a mat-list-item routerLink="basic-monitoring" (click)="isClicked.emit(true)" routerLinkActive="light-bg">
    <mat-icon class="mr-2" svgIcon="network"></mat-icon>
    {{"side-nav-menu.basic-monitoring" | translate}}
  </a>
  <a mat-list-item routerLink="asset-classes" (click)="isClicked.emit(true)" routerLinkActive="light-bg">
    <mat-icon class="mr-2">class</mat-icon>
    {{"side-nav-menu.asset-classes" | translate}}
  </a>
</mat-nav-list>
