<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding
                 mat-menu-item [routerLink]="node.route"
                 (click)="isClicked.emit(true)" routerLinkActive="light-bg">
    <mat-icon>{{node.icon}}</mat-icon>
    <span>{{node.name}}</span>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding mat-menu-item
                 matTreeNodeToggle class="d-flex justify-content-between">
    <div [ngClass]="{'ml-2': node.level === 0}">
      <mat-icon>{{node.icon}}</mat-icon>
      <span>{{node.name}}</span>
    </div>
    <div>
      <mat-icon class="list-end-icon">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </div>
  </mat-tree-node>
</mat-tree>
