<div class="container-fluid p-3">
  <h2 class="accent-color mat-title" *ngIf="config && config.id">{{'basic-monitoring.edit.header' | translate}}</h2>
  <h2 class="accent-color mat-title" *ngIf="!config || !config.id">{{'basic-monitoring.create.header' | translate}}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput [placeholder]="'basic-monitoring.name' | translate" formControlName="name">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-select [placeholder]="'basic-monitoring.minion' | translate" formControlName="minion"
                      [compareWith]="compareFn">
            <mat-option disabled>{{'shared.selectDefault' | translate}}</mat-option>
            <mat-option *ngFor="let minion of minions | async" [value]="minion">{{minion.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-select [placeholder]="'basic-monitoring.type' | translate" formControlName="type">
            <mat-option [value]="monitoringTypeEnum.ICMP">{{monitoringTypeEnum.ICMP}}</mat-option>
            <mat-option [value]="monitoringTypeEnum.TCP">{{monitoringTypeEnum.TCP}}</mat-option>
            <mat-option [value]="monitoringTypeEnum.HTTP">{{monitoringTypeEnum.HTTP}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput [placeholder]="'basic-monitoring.schedule' | translate" formControlName="schedule">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-select [placeholder]="'basic-monitoring.mode' | translate" formControlName="mode">
            <mat-option [value]="monitoringModeEnum.ALL">{{monitoringModeEnum.ALL}}</mat-option>
            <mat-option [value]="monitoringModeEnum.ANY">{{monitoringModeEnum.ANY}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-checkbox formControlName="enabled" translate="basic-monitoring.enabled">Enabled</mat-checkbox>
      </div>
      <div class="col-md-6">
        <mat-checkbox formControlName="ipv4">{{'basic-monitoring.ipv4' | translate}}</mat-checkbox>
      </div>
      <div class="col-md-6">
        <mat-checkbox formControlName="ipv6">{{'basic-monitoring.ipv6' | translate}}</mat-checkbox>
      </div>
    </div>
    <fieldset class="mb-2" *ngIf="!!form.get('type').value">
      <legend translate="basic-monitoring.extra-details">Extra details</legend>

      <div class="row">
        <div class="col-md-6"
             *ngIf="[monitoringTypeEnum.ICMP, monitoringTypeEnum.TCP].includes(form.get('type').value)">
          <mat-form-field class="w-100">
            <mat-chip-list #hostsList aria-label="Hosts">
              <mat-chip *ngFor="let host of form.get('hosts').value"
                        [selectable]="true"
                        [removable]="true"
                        (removed)="removeHost(host)">
                {{host}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input [placeholder]="'basic-monitoring.hosts' | translate"
                     [matChipInputFor]="hostsList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="true"
                     (matChipInputTokenEnd)="addHost($event)">
            </mat-chip-list>
          </mat-form-field>
        </div>
        <div class="col-md-6" *ngIf="form.get('type').value === monitoringTypeEnum.ICMP">
          <mat-form-field class="w-100">
            <input matInput [placeholder]="'basic-monitoring.wait' | translate" formControlName="wait">
          </mat-form-field>
        </div>
        <ng-container *ngIf="form.get('type').value === monitoringTypeEnum.TCP">
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-chip-list #portList aria-label="Ports">
                <mat-chip *ngFor="let port of form.get('ports').value"
                          [selectable]="true"
                          [removable]="true"
                          (removed)="removePort(port)">
                  {{port}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input [placeholder]="'basic-monitoring.ports' | translate"
                       [matChipInputFor]="portList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="true"
                       (matChipInputTokenEnd)="addPort($event)">
              </mat-chip-list>
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <mat-checkbox formControlName="check"><span translate="basic-monitoring.check">Check</span></mat-checkbox>
            <div class="row" *ngIf="!!form.get('check').value">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <input matInput [placeholder]="'basic-monitoring.send' | translate" formControlName="send">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <input matInput [placeholder]="'basic-monitoring.receive' | translate"
                         formControlName="receive">
                </mat-form-field>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="form.get('type').value === monitoringTypeEnum.HTTP">
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-chip-list #urlList aria-label="Urls">
                <mat-chip *ngFor="let url of form.get('urls').value"
                          [selectable]="true"
                          [removable]="true"
                          (removed)="removeUrl(url)">
                  {{url}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input [placeholder]="'basic-monitoring.urls' | translate"
                       [matChipInputFor]="urlList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="true"
                       (matChipInputTokenEnd)="addUrl($event)">
              </mat-chip-list>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input matInput [placeholder]="'basic-monitoring.proxyUrl' | translate" formControlName="proxyUrl">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input matInput [placeholder]="'basic-monitoring.username' | translate" formControlName="username">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input matInput [placeholder]="'basic-monitoring.password' | translate" formControlName="password">
            </mat-form-field>
          </div>
        </ng-container>
      </div>
    </fieldset>
    <ng-container>
      <div class="col-12 d-flex justify-content-end mt-2">
        <div class="row">
          <div class="col">
            <button type="button" mat-raised-button mat-dialog-close>{{'shared.button.cancel' | translate}}</button>
          </div>
          <div class="col">
            <button type="submit" mat-raised-button color="accent">{{'shared.button.submit' | translate}}</button>
          </div>
        </div>
      </div>
    </ng-container>
  </form>
</div>
