@import 'assets/scss/themes';
@import '~@angular/cdk/overlay-prebuilt.css';
@import "assets/fonts/iconfont/material-icons.css";

html, body {
  height: 100%;
  width: 100%;
}

.mat-form-field-wrapper {
  padding: 0;
}

.app-backdrop {
  background: rgba(0, 0, 0, .25);
}

.no-border-radius {
  border-radius: 0 !important;
}

.app-modal-form {
  width: 400px;
}

@media only screen and (max-width: 576px) {
  .app-modal-form {
    width: 300px;
  }
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.seb-iframe {
  height: calc(100vh - 96px) !important;
}

fieldset {
  border: 1px mat-color($c4sam-accent) solid;
  border-radius: 5px;
  padding: 10px;

  & legend {
    width: auto;
    background: mat-color($c4sam-accent);
    transform: skewX(-185deg);
    @extend .white-color;
    text-align: right;
    padding: 3px 6px;
    font-size: 1rem;
  }
}
